.reduce-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.listenOnSpotify button {
    background-color: #fff;
    border: none; /* Remove borders */
    color: #1ed760;
    padding: 0px 0px; /* Some padding */
    font-size: 35px; /* Set a font size */
    vertical-align: middle;
    cursor: pointer; /* Mouse pointer on hover */
    line-height: 1;
    border-radius: 20px;
    transition: 0.3s;
    margin-right: -9px;
}

.list-group-item {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}