.reduce-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.listenOnSpotify button {
    background-color: #1db954;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 16px; /* Some padding */
    font-size: 21px; /* Set a font size */
    vertical-align: middle;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 20px;
    transition: 0.3s;
}

.fab {
    font-size: 23px;
}